@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
// === Mixin ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin quicksand {
  font-family: "Quicksand", sans-serif;
}

@mixin list-null {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === / Mixin ===
// ===  Functions ===
@function strip-unit($num){
  @return $num / ($num * 0 + 1);
}

@function rem($num){
  @return (strip-unit($num) / 16) * 1rem;
}
// === / Functions ===

// === Variables ===
$base: rem(4px);
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$fs-xxs: rem(10px);
$fs-xs: rem(13px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);


$transition: 0.2s;

// cyan
$color-cyan: #35aaff;

// $color-primary: #697ca6;
// $color-secondary: #6188ff;

$white: #ffffff;
//warning color
$color-warning: #ffc735;
// danger color
$color-danger-400: #ffd7d7;
$color-danger-500: #ff3535;
$color-danger-600: #d43f3f;
// Gray
$color-primary-50: #f5f8ff;
$color-primary-100: #c7d3ff;
$color-primary-200: #aeb8d0;
$color-primary-300: #adb4d2;
$color-primary-400: #8e96b7;
$color-primary-500: #8996bd;
$color-primary-600: #7382a3;
$color-primary-700: #7a85ad;
$color-primary-800: #676f95;
$color-primary-900: #495274;

// Blue

$color-secondary-50: #e9efff;
$color-secondary-100: #6888ff;
$color-secondary-200: #6188ff;
$color-secondary-300: #5e80ff;
$color-secondary-400: #5e81fe;
$color-secondary-500: #4c85ff;
$color-secondary-600: #5283ff;
$color-secondary-700: #3a79ff;
$color-secondary-800: #4074f8;
$color-secondary-900: #3d4f9f;

// === / Variables ===

// ===  COMMON ===

// html{
//   @media (max-width: $breakpoint-md-max){
//     font-size: 14px
//   }
//   @media (max-width: $breakpoint-sm-max){
//     font-size: 10px
//   }
// }
body {
  @include roboto;

  color: $color-primary-400;
}

.section-outer {
  padding: 0 $base * 5;
  border-bottom: 1px solid $color-primary-100;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  &--wide {
    max-width: 1200px;
  }
}

.vertical-indent {
  &--s{
    padding-top: $base * 5;
    padding-bottom: $base * 5;
  }
  &--m{
    padding-top: $base * 15;
    padding-bottom: $base * 15;
  }
  &--l{
    padding-top: $base * 30;
    padding-bottom: $base * 30;
  }

  @media (max-width: $breakpoint-lg-max) {
    &--m{
      padding-top: $base * 10;
      padding-bottom: $base * 10;
    }
    &--l{
      padding-top: $base * 20;
      padding-bottom: $base * 20;
    }
  }
}

.section-subtitle {
  @include quicksand();

  margin-bottom: $base * 20;
  color: $color-secondary-900;
  font-size: $fs-l;
  font-weight: $fw-medium;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.input {
  @include quicksand();

  padding: $base * 3 $base * 4;
  border: 1px solid transparent;
  background-color: #efeff7;
  border-radius: $base/2;
  color: $color-primary-400;
  font-size: $fs-xs;
  font-weight: $fw-bold;

  &--size-lg {
    padding: $base * 5 $base * 6;
    border-radius: $base;
  }
}
.btn {
  @include quicksand;

  display: inline-block;
  padding: $base * 3 $base * 4;
  border: 0;
  border: 1px solid transparent;
  margin: 0;
  background: none;
  border-radius: $base/2;
  cursor: pointer;
  font-size: $fs-xs;
  font-weight: $fw-bold;
  text-decoration: none;
  transition: $transition;
  white-space: nowrap;

  &--size-lg {
    padding: $base * 5 $base * 15;
    border-radius: $base;
  }

  &--primary {
    background-color: $color-secondary-50;
    color: $color-secondary-700;

    &:hover {
      background-color: darken($color-secondary-50, 5%);
    }
  }

  &--secondary {
    background-color: $color-secondary-500;
    color: $white;

    &:hover {
      background-color: darken($color-secondary-500, 5%);
    }
    &-inverted {
      background-color: $white;
      color: $color-primary-800;

      &:hover {
        background-color: darken($white, 5%);
      }
    }
  }

  &--danger {
    background-color: $color-danger-400;
    color: $color-danger-600;

    &:hover {
      background-color: darken($color-danger-400, 5%);
    }
  }

  &--grayscale {
    background-color: $color-primary-200;
    color: $color-primary-600;

    &:hover {
      background-color: darken($color-primary-300, 5%);
    }
  }

  &--no-bg {
    border: 1px solid $color-primary-300;
    color: $color-primary-300;

    &:hover {
      border: 1px solid darken($color-primary-300, 10%);
      color: darken($color-primary-300, 10%);
    }

    &-inverted {
      border: 1px solid $color-secondary-50;
      color: $color-secondary-50;

      &:hover {
        border: 1px solid lighten($color-secondary-100, 10%);
        color: lighten($color-primary-300, 20%);
      }
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  padding: 0;
  margin: 0;
  color: $color-secondary-900;
  font-weight: $fw-regular;
}

// h2 {
//   margin-bottom: $base * 7;
//   font-size: 48px;
// }
h2 {
  @include roboto;

  margin-bottom: $base * 4;
  font-size: $fs-xxs;
  text-transform: uppercase;
}

h3 {
  margin-bottom: $base * 7;
  font-size: 48px;
}

h4 {
  margin-bottom: $base * 20;
  font-size: $fs-l;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;

  &__item {
    display: inline-flex;
    width: $base * 2;
    height: $base * 2;
    background-color: $color-primary-200;
    border-radius: 100%;
    cursor: pointer;
    transition: $transition;

    &--active {
      background-color: $color-secondary-500;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}
// === / COMMON ===
// === HEADER ===
.section-header {
  position: relative;

}

.main-navigation {
  display: flex;
  align-items: center;

  &__wrapper-inner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: $base * 10;

    .section-header & {
      @media(max-width: $breakpoint-md-max){

          // display: none;
          position: absolute;
          z-index: 10;
          top: 100%;
          right: 0;
          left: 0;
          padding: $base *5;
          margin-left: 0;
          background-color:  $white;
        }
    }

    @media(max-width: $breakpoint-md-max){
      flex-direction: column;
      justify-content: center;
      &,
      .nav,
      .socials{
        margin-bottom: $base * 5;
        margin-left: 0;
      }
      .btn-wrapper {
        margin-left: 0;
      }

      .nav {
        margin-left: 0;

        .nav-wrapper {
          @media(max-width: $breakpoint-xs-max){
            flex-direction: column;
            align-items: center;
            &__item {
              margin-top: $base*2;
              margin-left: 0;
            }
          }

        }
      }
    }


  }
  .section-footer &{
    @media(max-width: $breakpoint-md-max){
      .logo{
        margin-bottom: $base * 5;
      }
      flex-direction: column;
    }
  }

}
.btn-burger {
    display: none;
    margin-left:  auto;

    &__line {
      display: block;
      width: $base * 5;
      height: $base /2;
      background: $color-primary-600;

      & + & {
        margin-top: $base;
      }
    }
    @media (max-width: $breakpoint-md-max) {
      display: block;
    }


}

.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: $color-secondary-400;
  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  @include list-null;

  display: flex;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;

      color: $color-primary-500;
      font-size: $fs-xs;
      font-weight: $fw-medium;
      text-decoration: none;
      transition: $transition;

      &:hover {
        text-decoration: underline;
      }

      &--active {
        color: $color-secondary-400;
        font-weight: $fw-bold;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  @include list-null;

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary-500;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary-500;
        }
      }
    }
  }
}
.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  padding: 0;
  background-color: $color-primary-50;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include list-null;

  &__item {
    height: $base * 140;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &-content {
      .section-subtitle {
        font-size: $fs-xxl;
        font-weight: $fw-light;
      }
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      max-width: 60%;
      margin: 0 auto $base * 5;
      line-height: 2;
    }
  }
}
.icon-play {
  display: inline-flex;
  width: $base * 13;
  height: $base * 13;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 100%;
  box-shadow: 0 $base * 2 $base * 12 rgba($color-primary-200, 0.6);

  svg {
    width: $base * 3;
    height: $base * 3;
  }
}
// === / HERO-IMAGE ===

// ===  CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    .customers__link {
      opacity: 0.3;
      transition: $transition;

      &:hover {
        opacity: 1;
      }
    }
    @media (max-width: $breakpoint-md-max) {
      flex-wrap: wrap;
      justify-content: center;

      .customers__link{
        flex-basis: 45%;
        margin-top: $base * 3;
        margin-bottom: $base * 3;
      }
    }
  }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: $color-primary-50;

  &--content {
    width: 60%;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h3 {
      font-weight: $fw-light;
    }
    span {
      font-weight: $fw-medium;
    }
    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }

    @media(min-width: $breakpoint-lg-min){
      width: 50%;
    }

    @media (max-width: $breakpoint-xs-max) {
      width:  70%;
      .aside-image {
        left: 40%;
      }
    }

  }
  .btn-group {
    svg {
      margin-left: $base;
    }
  }
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===

.section-features {
  background-image: url("../img/bg-feature-clouds.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  h4 {
    font-weight: $fw-medium;
  }

  .btns {
    display: flex;
    justify-content: center;
  }
}
.features-list {
  @include list-null;

  display: flex;
  margin: 0 0 $base * 25;
  text-align: center;


  @media (max-width: $breakpoint-md-max) {
    margin-bottom: $base * 15;
  }

  @media(max-width: $breakpoint-xs-max){
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $base * 5;
  }

  &__item {
    $margin-left: $base * 10;
    $divider-width: $base * 7;

    position: relative;
    flex-basis: 25%;

  & + & {
      margin-left: $base * 10;

      &::before {
        position: absolute;
        top: $base * 30;
        right: 100%;
        left: -$divider-width - ($margin-left - $divider-width)/2;
        width: $divider-width;
        height: 1px;
        background-color: $color-primary-100;
        content: "";
      }

      @media(max-width: $breakpoint-xs-max){
        margin-bottom: $base * 10;
        margin-left: 0;

        &::before{
          display: none;
        }
      }
    }

    @media(max-width: $breakpoint-xs-max){
      flex-basis: 45%;
    }
    &-icon {
      display: flex;
      width: $base * 17;
      height: $base * 17;
      align-items: center;
      justify-content: center;
      margin: 0 auto $base * 4;
      background-color: $color-primary-50;
      border-radius: 100%;
    }

    &-title {
      margin-bottom: $base * 7;
      color: $color-secondary-800;
      font-size: $fs-s;
      font-weight: $fw-bold;
    }

    &-text {
      line-height: 2;
    }
    @media(max-width: $breakpoint-xs-max){
      &-icon { margin-bottom: $base * 4;}
      &-title { margin-bottom: $base * 3;}
    }

  }

}

.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base * 4;
  font-size: $fs-xs;
  font-weight: $fw-medium;

  &::before,
  &::after {
    display: block;
    width: $base * 4;
    height: 1px;
    background-color: $color-secondary-50;
    content: "";
  }

  &::before {
    margin-right: $base * 4;
  }

  &::after {
    margin-left: $base * 4;
  }
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  display: flex;
  padding: 0;
  background-color: $color-secondary-50;
  &__left,
  &__right {
    @include quicksand;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: $base * 16 $base * 22;
  }

  &__left {
    align-items: flex-end;
    background-color: $color-secondary-700;
    color: $white;
    text-align: right;
  }

  &__right {
    color: $color-secondary-300;
  }

  &__icon {
    margin-bottom: $base * 6;
  }

  &__number {
    margin-bottom: $base * 7;
    font-size: $fs-xxl;
  }

  &__text {
    font-size: $fs-m;
    font-weight: $fw-medium;
    line-height: 1.5;

    @media(min-width: $breakpoint-lg-min){
      width: 40%;
    }
  }
  @media(max-width: $breakpoint-xs-max){
    &__left,
    &__right {
      padding: $base * 8 $base * 10;
    }
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: $color-primary-50;
}

.slider-wrapper {
  position: relative;
  margin-bottom: $base * 25;

  @media (max-width: $breakpoint-lg-max) {
    margin-bottom: $base * 15;
  }
}

.slider-blog {
  @include list-null;

  border: 1px solid $color-primary-100;

  background-color: $white;
  box-shadow: 0 $base * 4 $base * 12 $color-primary-100;

  &__item {
    display: flex;
    padding: $base * 16 $base * 8;

    // &-gallery,
    // &-content {
    //   flex-basis: 45%;
    // }

    &-gallery {
      display: grid;
      grid-gap: $base * 3;
      grid-template-columns: repeat(3, $base * 30);
      grid-template-rows: repeat(2, $base * 30);

      @media (max-width: $breakpoint-lg-max) {
        grid-gap: $base * 3;
        grid-template-columns: repeat(3, $base * 25);
        grid-template-rows: repeat(2, $base * 25);
      }

      .image-link {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 15px 100px $color-primary-50;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: $base * 16;
          height: $base * 16;
          background: $white url("../img/icon-loupe.svg") no-repeat 50% 50%;
          border-radius: 100%;
          content: "";
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: $transition;
        }

        &:hover::after {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          opacity: 0.7;
        }
        &--b {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
          &::before {
            background: linear-gradient(transparent, $color-warning);
          }
        }
        &--s-1 {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          &::before {
            background: linear-gradient(transparent, $color-danger-500);
          }
        }
        &--s-2 {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          &::before {
            background: linear-gradient(transparent, $color-cyan);
          }
        }
      }
    }
    &-content {
      flex-grow: 1;
      margin-left: $base * 4;
      .text {
        margin-bottom: $base * 10;
        font-size: $fs-s;
        line-height: 2;
      }
    }
    @media(max-width: $breakpoint-xs-max){
      flex-direction: column;
      // padding: $base * 6;
      &-content{
        position: relative;
        z-index: 5;
        margin-top: $base * 6;
        margin-left: 0;
      }

      h3 {
        margin-bottom: $base * 3;
      }
    }
  }
}
.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;
  background: url("../img/icon-slider-arrow.svg") no-repeat 50% 50%;

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }

  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }

  @media(max-width: $breakpoint-lg-max){
    display: none;
  }
}
// === / BLOG ===

// === QOUTES ===
.section-quotes {
  background: linear-gradient(#f6f9ff, #eaf0ff);

  .section-inner {
    display: flex;
    justify-content: space-between;
  }
  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .section-subtitle {
      font-size: $base * 9;
    }
    .text {
      line-height: 2;
    }
  }
}

.slider-quotes {
  @include list-null;
  margin-bottom: $base * 20;

  &__item {
    position: relative;
    padding: $base * 10 $base * 17 $base * 15;
    border: 1px solid $color-primary-100;
    background-color: $white;
    box-shadow: 0 5px 50px $color-primary-100;
    &-text {
      color: $color-primary-700;
      font-size: $fs-s;
      line-height: 2;
    }
    &-photo {
      $height: $base * 15;

      position: absolute;
      top: 100%;
      left: 50%;
      overflow: hidden;
      width: $base * 15;
      height: $height;
      background-color: $white;
      border-radius: 100%;
      transform: translate(-50%, -$height/2);
    }
  }
}
// === / QOUTES ===

// === FAQ ===
.section-faq {
  h4 {
    font-weight: $fw-medium;
  }
}

.faq-accordion {
  @include list-null();

  &__item {
    $parent: &;

    border-bottom: 1px solid $color-primary-100;

    &--active {
      #{$parent}-triger {
        color: $color-primary-900;
        font-weight: $fw-medium;

        &-icon {
          transform: rotate(0);

          .faq-arrow {
            stroke: $color-primary-900;
          }
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-triger {
      display: flex;
      padding: $base * 4;
      cursor: pointer;

      &-icon {
        width: $base * 4;
        margin-right: $base * 4;
        text-align: center;
        transform: rotate(180deg);
        .faq-arrow {
          stroke: $color-primary-400;
        }
      }

      &-text {
        font-size: $fs-s;
      }
    }

    &-content {
      display: none;
      padding: 0 $base * 4 $base * 4 $base * 12;

      &-text {
        flex-grow: 1;
        font-size: $fs-s;
        line-height: 2;
      }

      &-btn {
        margin-left: $base * 15;
      }
    }
  }
}
// === / FAQ ===

// === GET-START ===
.section-get-start {
  position: relative;
  background: linear-gradient($color-secondary-700, $color-secondary-800);
  color: $white;
  text-align: center;
  &::before {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/clouds.svg") no-repeat 50% 50%;
    content: "";
  }
  .section-inner {
    position: relative;
    z-index: 10;
  }

  h2,
  h3 {
    color: $white;
  }
  h3 {
    font-weight: $fw-light;
  }
  h3 span {
    font-weight: $fw-medium;
  }
  .text {
    max-width: 60%;
    margin: 0 auto $base * 10;
    line-height: 2;
  }
}

// === / GET-START ===
// === NEWSLETTER ===
.section-newsletter {
  background-color: $color-primary-50;
  .section-inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-lg-max) {
      flex-direction: column;
    }
  }
  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand();

      margin-bottom: $base * 4;
      color: $color-secondary-900;
      font-size: $fs-m;
      font-weight: $fw-bold;
    }

    &-text {
      font-size: $fs-s;
      line-height: 2;
    }

    @media (max-width: $breakpoint-lg-max) {
      margin-bottom: $base*5;
    }
  }
  &__right {
    flex-basis: 55%;
  }

  .newsletter-form {
    display: flex;

    &__input {
      flex-grow: 1;
    }
    &__btn {
      margin-left: $base * 3;
    }
  }
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
  border-bottom: 0;

}

.copyright {
  @include quicksand;
  margin-top: $base * 7;
  margin-left: $base * 24;
  color: $color-primary-300;
  font-size: $fs-xs;
  font-weight: $fw-medium;

  @media (max-width: $breakpoint-md-max){
    margin-left: 0;
    text-align: center;
  }
}
// === / FOOTER ===
