@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');
// === Mixin ===
@mixin roboto{
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === / Mixin ===
// === Variables ===
$base: 4px;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 13px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: .2s;

$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;


// === / Variables ===

 // ===  COMMON ===

body {
  @include roboto;

  color: #8d96bd
}
.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  margin: 0 auto;
  &--wide {
    max-width: 1200px;
  }
}
.btn {
  @include quicksand;


  padding: $base*3 $base*4;
  border: 0;
  border: 1px solid transparent;
  margin: 0;
  background: none;
  border-radius: 2px;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  transition: $transition;
  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5% );
    }
  }

  &--secondary {
    background-color: #4c85ff;
    color: #ffffff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 5% );
    }
  }

  &--no-bg {
    border: 1px solid #d1d1e4;
    color: #adb4d2;

    &:hover {
      border: 1px solid  darken(#adb4d2, 10%);
      color: darken(#adb4d2, 10%);
    }
  }
}

.btn-group {
  display: inline-flex;


  .btn:nth-child(1){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .btn:nth-child(2){
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  padding: 0;
  margin: 0;
  color: #3d4f9f;
  font-weight: $fw-regular;
}

h1,
h2 {
  margin-bottom: $base * 7;
  font-size: 48px;
}

h3 {
  margin-bottom: $base * 7;
  font-size: 36px;
}

h4 {
  margin-bottom: $base * 20;
  font-size: 24px;
}
h5 {
  @include roboto;

  margin-bottom: $base * 4;
  font-size: 10px;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;

  &__item {
    display: inline-flex;
    width: $base * 2;
    height: $base * 2;
    background-color: #d1d6e3;
    border-radius: 100%;
    cursor: pointer;
    transition: $transition;

    &--active{
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}
 // === / COMMON ===
// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: #5e81fe;
  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  @include list-null;

  display: flex;


  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;

      color: $color-primary;
      font-size: $fs-sm;
      font-weight: $fw-medium;
      text-decoration: none;
      transition: $transition;

      &:hover{
        text-decoration: underline;
      }

      &--active {
        color: #5e81fe;
        font-weight: $fw-bold;
      }
    }
  }
}

.socials{
  margin-left: auto;
}

.socials-wrapper {
  @include list-null;

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover{
        path {
          fill: $color-secondary;
        }
      }

    }
  }
}
.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background-color: #f4f7ff;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include list-null;

  &__item {
    height: $base * 140;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &-content {
      h2 {
        font-weight: $fw-light;
      }
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      width: 60%;
      margin: 0 auto $base * 5;
      line-height: 2;
    }
  }
}
.icon-play {
  display: inline-flex;
  width: $base * 13;
  height: $base *  13;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 10px 50px rgba(#c9d1e7, .6);

  svg {
    width: $base * 3;
    height: $base * 3;
  }
}
// === / HERO-IMAGE ===

// ===  CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
    justify-items: center;
    .customers__link {
      opacity: .3;
      transition: $transition;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;

  &--content {
    width: 50%;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h3 {
      font-weight: $fw-light;
    }
    span {
      font-weight: $fw-medium;
    }
    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }
  }
  .btn-group {
    svg {
      margin-left: $base;
    }
  }
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===

.section-features {
  background-image: url('../img/bg-feature-clouds.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;

  h4 {
    font-weight: $fw-medium;
  }

  .btns {
    display: flex;
    justify-content: center;
  }
}
.features-list {
  @include list-null;

  display: flex;
  margin: 0 0 $base*25;
  text-align: center;

  &__item {
    position:relative;
    flex-basis: 25%;

    &:not(:first-child){
      margin-left: $base*10;
    }
    &:not(:first-child)::before {
      position: absolute;
      top:120px;
      right: 100%;
      left: -34px;
      width: 28px;
      height: 1px;
      background-color: #dae4fe;
      content: '';
    }

    &-icon {
      display: flex;
      width: $base * 17;
      height: $base * 17;
      align-items: center;
      justify-content: center;
      margin: 0 auto $base * 4;
      background-color: #f1f5ff;
      border-radius: 100%;
    }

    &-title {
      margin-bottom: $base * 7;
      color: #4074f8;
      font-size: $fs-md;
      font-weight: $fw-bold;
    }

    &-text {
      line-height: 2;
    }
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin:0 $base*4;
  font-size: $fs-sm;
  font-weight: $fw-medium;

  &::before,
  &::after{
    display: block;
    width: $base*4;
    height: 1px;
    background-color: #dae4fe;
    content: '';
  }

  &::before{
    margin-right: $base*4;
  }

  &::after{
    margin-left: $base*4;
  }
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  display: flex;
  background-color: #e9efff;
  &__left,
  &__right {
    @include quicksand;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: $base*16 $base*22;
  }

  &__left {
    align-items: flex-end;
    background-color: #6888ff;
    color:#ffffff;
    text-align: right;
  }

  &__right {
    color:  #5e80ff;
  }

  &__icon {
    margin-bottom: $base*6;
  }

  &__number {
    margin-bottom: $base*7;
    font-size: $fs-xl;

  }

  &__text {
    width: 35%;
    font-size: $fs-lg;
    font-weight: $fw-medium;
    line-height: 1.5;
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}

.slider-wrapper {
  position: relative;
  margin-bottom: $base*25;
}

.slider-blog {
  @include list-null;

  border: 1px solid #d8e3fe;

  background-color: #fff;
  box-shadow: 0 15px 50px #eff4ff;

  &__item {
    display: flex;
    padding: $base*16 $base*8;

    &-gallery,
    &-content {
      flex-basis: 45%;
    }

    &-gallery {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: repeat(3, 120px);
      grid-template-rows: repeat(2, 120px);

      .image-link {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 15px 100px #e5ebf8;

        .loupe {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: $base*16;
          height: $base*16;
          background: #fff url("../img/icon-loupe.svg") no-repeat 50% 50%;
          border-radius: 100%;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: $transition;
        }

        &:hover {
          .loupe {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          opacity: 0.7;

        }
        &--b {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
          &::before{
            background: linear-gradient(transparent, #ffc735);
          }
        }
        &--s-1 {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          &::before{
            background: linear-gradient(transparent, #ff3535);
          }
        }
        &--s-2 {
          grid-column: 3 / 4;
          grid-row: 2 / 3 ;
          &::before{
            background: linear-gradient(transparent, #35aaff);
          }
        }
      }
    }
    &-content {
      margin-left: 10%;
      .text {
        margin-bottom: $base*10;
        font-size: $fs-md;
        line-height: 2;
      }
    }
  }
}
.btn-blog {
  position:absolute;
  top: 50%;
  display: block;
  width: $base*10;
  height: $base*10;
  background: url('../img/icon-slider-arrow.svg') no-repeat 50% 50%;

  &--prev {
    right: 100%;
    margin-right: $base*16;
    transform: translateY(-50%);
  }

  &--next {
    left: 100%;
    margin-left: $base*16;
    transform: translateY(-50%) rotate(180deg);
  }
}
// === / BLOG ===

// === QOUTES ===
.section-qoutes {
  background-color: #eaf0ff;
}

// === / QOUTES ===

// === GET-START ===
.section-get-start {
  background-color: #6888ff;
}
// === / GET-START ===

// === FAQ ===
// .section-faq {

// }
// === / FAQ ===

// === NEWSLETTER ===
.section-newsletter{
  background-color: #fcfdff;
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
  border-bottom: 0;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand;
  margin-top: $base * 7;
  margin-left: $base * 24;
  color: #aeb8d0;
  font-size: $fs-sm;
  font-weight: $fw-medium;
}
// === / FOOTER ===
