@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap');
// === Mixin ===
@mixin roboto{
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}
// === / Mixin ===
// === Variables ===
$base: 4px;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 13px;
$fs-md: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: .2s;

$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;


// === / Variables ===

 // ===  COMMON ===

body {
  @include roboto;
}
.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  margin: 0 auto;
  &--wide {
    max-width: 1200px;
  }
}
.btn {
  @include quicksand;


  padding: $base*3 $base*4;
  border: 0;
  margin: 0;
  background-color: none;
  border-radius: 2px;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  transition: $transition;

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5% );
    }
  }
}
 // === / COMMON ===
// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: $base * 6;
  height: $base * 6;
  background-color: #5e81fe;
  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;

      color: $color-primary;
      font-size: $fs-sm;
      font-weight: $fw-medium;
      text-decoration: none;
      transition: $transition;

      &:hover{
        text-decoration: underline;
      }

      &--active {
        color: #5e81fe;
        font-weight: $fw-bold;
      }
    }
  }
}

.socials{
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;


  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover{
        path {
          fill: $color-secondary;
        }
      }

    }
  }
}
.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  background-color: #f4f7ff;
}

// === / HERO-IMAGE ===

// ===  CUSTOMERS ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  background-color: #f5f8ff;
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===

// .section-features {

// }

// === / FEATURES ===

// === STATS ===
.section-stats {
  background-color: #e9efff;
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}
// === / BLOG ===

// === QOUTES ===
.section-qoutes {
  background-color: #eaf0ff;
}

// === / QOUTES ===

// === GET-START ===
.section-get-start {
  background-color: #6888ff;
}
// === / GET-START ===

// === FAQ ===
// .section-faq {

// }
// === / FAQ ===

// === NEWSLETTER ===
.section-newsletter{
  background-color: #fcfdff;
}
// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
  border-bottom: 0;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand;
  margin-top: $base * 7;
  margin-left: $base * 24;
  color: #aeb8d0;
  font-size: $fs-sm;
  font-weight: $fw-medium;
}
// === / FOOTER ===
